<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
	<strong>Category:</strong>
	<%= @post.category %>
</p>

<p>
	<strong>Date:</strong>
	<%= @post.created_at %>
</p>
<p>
	<a href="/posts/like/<%=@post.id%>" class="btn btn-default" role="button">like-</a><a href="/posts/dislike/<%=@post.id%>" class="btn btn-default" role="button">dislike </a>
	<%= @post.like%>
</p>


<br>

<b>REVIEWS:</b>
<% @post.reviews.each do |posti| %>
		<ul>
			<li> 
				<%= posti.descrition %>
				<p>
					<a href="/posts/<%= posti.id%>/like_review" class="btn btn-default" role="button">like</a>
					<a href="/posts/<%= posti.id%>/dislike_review" class="btn btn-default" role="button">dislike</a>
					<%= posti.like%>
				</p>
				<p><%= posti.created_at %></p>
			</li>
		</ul>
		
<% end %>
<br>

<h4> --Nuevo Review--</h4>

<form action="/posts/<%=@post.id%>/create" method="post">
	<input type="hidden" value="<%=@post.id %>" name="post_id" />
	description:
	<input type = "text" name = "descripcion">
	<br>
	<input class="btn btn-default" type="submit">

</form>


<br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
